html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: wheat;
}

ul, ol {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-family:'Times New Roman', Times, serif;
    font-size: 40px;
    margin: 20px;
    text-align: center;
}

h2 {
    background-color: #FF7F50;
    height: auto;
    text-align: center;
    padding: 5px;
}

h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 5px;
    text-align: center;
    margin-top: 30px;
}

a {
    font-size: 24px;
    text-decoration: none;
}

button {
    display: block;
    margin: 15px auto;
    padding: 10px 20px;
    height: 60px;
    width: 300px;
}

#ingredients {
    background-color: #FF7F50; 
}

#steps {
    background-color: #FF7F50;
}

#title {
    margin: 60px;
    text-align: center;
}

#home {
    text-decoration: underline;
}

span {
    display: block;
    text-align: center;
}

p {
    font-family: 'Courier New', Courier, monospace;
    margin: 0px 10px;
}